body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 220, 246);
}

.container{
    margin-top: 150px;
    box-shadow: 0 2px 2px rgb(146, 145, 144);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}
.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 5px;
}